<div [ngClass]="{'dark-theme':theme}">


<nav  class="navbar navbar-expand-lg ">
    <div class="container">
        <a style="background-color: #fbbc04;" class="navbar-brand text-white p-2" href="#">TODAYYY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">About</a>
            </li>

            <!-- <button (click)="this.theme = !this.theme;" class="btn btn-primary">Dark</button> -->
            
        </ul>
        
            <div class="navbar-nav ml-auto">
                <input type="checkbox" class="checkbox"  id="chk" /> 
                <label (click)=" darktheme()"  class="label" for="chk">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div id="ball" class="ball"></div>
                </label>
            </div>
            
        
       
        </div>
    </div>
  </nav>

</div>