<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 mt-3">

            <h4>TODAYYY</h4>
            <p class="mt-3">Todayyy is a open source todo app. which can help you to track your daily cores.
                Todayyy is a secure client side web app which means all your data is safe in your machine.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veniam reiciendis magnam, soluta autem aut temporibus minima magni odio aliquid ad et, nesciunt, corporis impedit. Vel eos incidunt cum, unde, repudiandae eius in quos id ad ab, obcaecati vitae.
            </p>
            
        </div>
        <div class="col-12 offset-md-1 col-md-5 text-center ">
            <img height="270px" style="margin-top: 80px;" src="../../assets/images/undraw_reminder_pa79.svg" alt="">
        </div>
    </div>
</div>
